<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="footer-brand">OOP2 Shop</div>
        <div class="footer-subtext">Your simple and smart ecommerce solution.</div>
      </div>
      <div class="col-sm-4 text-center footer-social">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-whatsapp"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-twitter"></a>
      </div>
      <div class="col-sm-4 text-right footer-links">
        <a href="/aboutus">About</a>
        <a href="/contactus">Contact</a>
      </div>
    </div>
    <div class="footer-bottom-text">
      All Rights Reserved By Iistiak Jaman Anan
    </div>
  </div>
</footer>
